/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Starting page */

body{
  background-image: url('../img/brian-mcgowan-I0fDR8xtApA-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 8em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.288), 10px 10px 10px rgba(255, 255, 255, 0.212), 0px 0px 0px rgba(255, 255, 255, 0.1);
  padding-top: 20rem;

  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  background-color: #ffffff63;
  margin: 4px 0;
}

button {
  color: rgb(0, 0, 0);
  padding: 3px;
  text-decoration: none;
  border: 2px solid #ffffff;
  transition: 1s all ease;
  border-radius: 10px;
  margin: 4px 4px 0 0;
}

button:hover{
  background: #0000006c;
  color: white;
  border: 1px solid white;
  content: "";
  transition: all 0.6s ease;
  padding: 6px;
}

img {
  margin: auto;
  display: none;
}

iframe {
  display: none;
  margin: auto;
}

section{
  display: block;
  width: 100%;
  margin: auto;
}

section > img {
  height: 500px;
}

section > iframe {
  width: 700px;
  height: 500px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 0.1em;
  bottom: 0;
}

h3 {
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.1em;
  bottom: 0;
}

h4{
  color: white;
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.1em;
  bottom: 0;
}

p {
  width: 70%;
  margin: 10px auto 0 auto;
  padding: 10px;
  text-align: left;
  color: white;
  background: #ffffff3d;
  border-radius: 15px;
}