/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Starting page */

body{
  background: black;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: left;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.288), 10px 10px 10px rgba(255, 255, 255, 0.212), 0px 0px 0px rgba(255, 255, 255, 0.1);

  animation: fadeIn 3.5s;
}

img{
  display: block;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
